In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [16]:
data=pd.read_csv('C:/Users/user/Downloads/kaggle/score.csv')
df=pd.DataFrame(data)
df.head(10)

   Hours  Scores
0    2.5    21.0
1    5.1    47.0
2    3.2    27.0
3    8.5    75.0
4    3.5    30.0
5    1.5    20.0
6    9.2    88.0
7    5.5    60.0
8    8.3     NaN
9    2.7    25.0

In [17]:
df.shape

(25, 2)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  24 non-null     float64
dtypes: float64(2)
memory usage: 532.0 bytes

In [19]:
df.isnull().sum()

Hours     0
Scores    1
dtype: int64

In [20]:
df.dropna(inplace=True,axis=0)

In [21]:
df.isnull().sum()

Hours     0
Scores    0
dtype: int64

In [22]:
df.shape

(24, 2)

In [23]:
df.head()

   Hours  Scores
0    2.5    21.0
1    5.1    47.0
2    3.2    27.0
3    8.5    75.0
4    3.5    30.0

In [24]:
y=df['Scores']
x=df.drop('Scores',axis=1)

In [25]:
y

0     21.0
1     47.0
2     27.0
3     75.0
4     30.0
5     20.0
6     88.0
7     60.0
9     25.0
10    85.0
11    62.0
12    41.0
13    42.0
14    17.0
15    95.0
16    30.0
17    24.0
18    67.0
19    69.0
20    30.0
21    54.0
22    35.0
23    76.0
24    86.0
Name: Scores, dtype: float64

In [26]:
x

    Hours
0     2.5
1     5.1
2     3.2
3     8.5
4     3.5
5     1.5
6     9.2
7     5.5
9     2.7
10    7.7
11    5.9
12    4.5
13    3.3
14    1.1
15    8.9
16    2.5
17    1.9
18    6.1
19    7.4
20    2.7
21    4.8
22    3.8
23    6.9
24    7.8

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=101)

In [29]:
x_train.shape,x_test.shape

((19, 1), (5, 1))

In [30]:
y_train.shape,y_test.shape

((19,), (5,))

In [31]:
lr=LinearRegression()
model=lr.fit(x_train,y_train)

In [32]:
y_pred=model.predict(x_test)
df=pd.DataFrame({'y_test':y_test,'y_pred':y_pred})
print(df)

    y_test     y_pred
20    30.0  28.927329
11    62.0  60.640656
22    35.0  39.828785
19    69.0  75.506278
7     60.0  56.676490

In [33]:
print(mean_squared_error(y_test,y_pred))

15.938595133123433